*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    min-width: 1210px;
}

nav{
    /* border: 2px solid black; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    min-width: 893px;
}
.sylvan{
    /* border: 2px solid black; */
    width: 27%;
    height: 100%;
    font-size: 32px;
    line-height: 40px;
    color:#FCA311;
    font-weight: 900;
     display: flex;
    align-items: center;
    justify-content: center;

}
.list{
    /* border: 2px solid black; */
    width: 29%;
    height: 100%;
    font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: space-between;
    
}
.case{
    color:#FCA311;
    font-weight: bold;
}
button{
    border: 1px hidden black;
    width: 42%;
    height: 60%;
    border-radius: 10px;
    background-color: #FCA311;
    color:white;
    }
    .TilTokViews{
        /* border: 2px solid red; */
        width: 100%;
        height: 100vh;
        background-color: rgb(229, 226, 226);
        position: relative;
    }
    .heading{
        /* border: 2px solid black; */
        width: 53%;
       position: absolute;
       top:19%;
       left: 7%;
    }
    .heading h1{
     margin: 5px 0px;
    }
    .heading h2{
        margin-bottom: 15px;
        color:#FCA311;
    }
    .heading p{
        /* border: 2px solid black; */
       width: 77%;
       font-size: 18px;
       line-height: 25px;
       font-weight: 500;
    }
    .bold{
        font-weight: bolder;
    }
    .Download-button{
        background-color: #FCA311;
        color:white;
        font-size: 16px;
        padding: 15px 30px;
        margin-top: 35px;
    }
    .three-box{
        /* border: 2px solid green; */
        width: 79%;
        min-width: 433px;
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }
    .box-size{
        /* border: 2px solid black; */
        width: 31%;
        height: 150px;
       
    }
    .box-img1{
        border: 2px solid white;
        background-image: url("Frame\ 14\ \(2\).png");
        background-size: cover;
        background-position: center;
    }
    .box-img2{
        border: 2px solid white;
        background-image: url("Frame\ 11\ \(4\).png");
        background-size: cover;
        background-position: centerc;
    }
    .box-img3{
        border: 2px solid white;
        background-image: url("Frame\ 16\ \(3\).png");
        background-size: cover;
        background-position: center;
    }
    .boy-img{
        /* border: 2px solid black; */
        width: 27%;
        min-width: 337px;
        height: 503px;
        position: absolute;
        top:13%;
        left: 65%;
        /* background-image: url("survey_form1/Frame 46 (4).png"); */
        background-image: url("Frame\ 46\ \(4\).png");
        background-size: cover;
        background-position: center;
    }