*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.start-box{
    border: 2px solid grey;
    border-radius: 10px;
    width: 50%;
    height: 100vh;
    margin: 0% 25%;
    background-color: rgba(243, 243, 237, 0.384);
   
}
.top-input{
    border: 2px solid rgb(183, 181, 181);
    background-color: white;
    border-radius: 10px;
    width: 86%;
    height: 33px;
    margin: 40px 7%;
    display: flex;
   padding-left: 7px;
}
.search-icon{

border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
width: 5%;
height: 100%;
padding:6px 7px;
}
.top-input input{
    border: 1px hidden gray;
    width: 95%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.head{
    /* border: 2px none black; */
    width: 80%;
    height: 30px;
    margin: 0px 10%;
    display: flex;
    justify-content: space-between;
}
.pinned{
    font-weight: bold;
    color:black;
}
.select{
    border: 1px solid rgb(197, 195, 195);
    padding: 5px 11px;
    border-radius: 7px;
    background-color: white;
}